.wrapper { 
	overflow:hidden;
}

.wrapper div {
	min-height: 200px;
	padding: 10px;
}
#game-container {
	float:left; 
	width: 800px;
	padding: 0;
}
#video-container { 
}

@media screen and (max-width: 400px) {
	#game-container { 
		float: none;
		margin-right:0;
		width:auto;  
	}
}